*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, head, body, div, a, h1, h2, button, table, tr, th, td, thead, tbody, tfoot, footer{
    font-size: 100%;
    margin: 0%;
    padding: 0%;
    border: 0em;
    vertical-align: baseline;

    background-color: whitesmoke;
    color: black;
}

